## Import packages
import(uts)
import(lubridate)
importFrom(stats, end, start)


# Export classes
exportClasses(uts_vector)
#exportClasses(uts_matrix)
#exportClasses(uts_data_frame)


# Export constructors
export(uts_vector)
export(uts_vector_wide)


# Register S3 methods (needed if a package is imported but not attached to the search path)
S3method(c, uts)
S3method(c, uts_vector)
S3method(end, uts_vector)
S3method(start, uts_vector)


# Sample multivariate time series
export(ex_uts_vector)
export(ex_uts_vector2)


# Miscellaneous functions
export(is.uts_vector)
