## Import packages
import(uts)
import(lubridate)
importFrom(graphics, plot)
importFrom(grDevices, devAskNewPage)
importFrom(stats, as.ts, end, median, na.omit, start, time, tsp, window)
importFrom(utils, head, tail)


# Export class constructors
export(uts_matrix)
export(uts_matrix_long)
export(uts_matrix_wide)
export(uts_vector)
export(uts_vector_long)
export(uts_vector_wide)


# Export generic methods
export(as.uts_vector)
export(sapply)


# Register S3 methods (needed if a package is imported but not attached to the search path)
S3method("[", uts_vector)
S3method("[<-", uts_vector)
S3method(as.data.frame, uts_matrix)
S3method(as.data.frame, uts_vector)
S3method(as.ts, uts_vector)
S3method(as.uts_vector, fts)
S3method(as.uts_vector, irts)
S3method(as.uts_vector, its)
S3method(as.uts_vector, ts)
S3method(as.uts_vector, uts_matrix)
S3method(as.uts_vector, xts)
S3method(as.uts_vector, zoo)
S3method(c, uts)
S3method(c, uts_vector)
S3method(end, uts_matrix)
S3method(end, uts_vector)
S3method(first, uts_vector)
S3method(is.na, uts_vector)
S3method(last, uts_vector)
S3method(Math, uts_vector)
S3method(mean, uts_vector)
S3method(median, uts_vector)
S3method(na.omit, uts_vector)
S3method(plot, uts_vector)
S3method(print, uts_matrix)
S3method(print, uts_vector)
S3method(rep, uts)
S3method(rep, uts_vector)
S3method(sample_values, uts_vector)
S3method(sapply, default)
S3method(sapply, uts_matrix)
S3method(sapply, uts_vector)
S3method(sd, uts_vector)
S3method(start, uts_matrix)
S3method(start, uts_vector)
S3method(summary, uts_matrix)
S3method(summary, uts_vector)
S3method(Summary, uts_vector)
S3method(time, uts_vector)
S3method(window, uts_vector)


# S3 methods that cause problems when registered with S3method() instead of export():
# 1.) A method for a generic in an enhanced/suggested package cannot be registered.
#     See chapter 8 of "R packages" by Hadley Wickham.
export(as.fts.uts_vector)     # would need to create "fts" package dependency
export(as.irts.uts_vector)    # would need to create "tseries" package dependency
export(as.its.uts_vector)     # would need to create "its" package dependency
export(as.xts.uts_vector)     # would need to create "xts" package dependency
export(as.zoo.uts_vector)     # would need to create "zoo" package dependency


# Examples of multivariate time series
export(ex_uts_matrix)
export(ex_uts_vector)
export(ex_uts_vector2)


# Miscellaneous functions
export(is.uts_matrix)
export(is.uts_vector)
export(Ops_uts_vector)
export(plot_single_uts_vector)

